#player-page-container{

    width: 80em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

#player-container{

    width: 100%;
    position: relative;

    background: rgb(27,55,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(27,55,77,1) 4%,rgba(146,146,188,1) 33%,#CF0000 85%, rgba(22,55,77,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(27,55,77,1)), color-stop(33%,rgba(146,146,188,1)),color-stop(85%,#CF0000) ,color-stop(100%,rgba(22,55,77,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(27,55,77,1) 4%,rgba(146,146,188,1) 33%,#CF0000 85%, rgba(22,55,77,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(27,55,77,1) 4%,rgba(146,146,188,1) 33%,#CF0000 85%, rgba(22,55,77,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(27,55,77,1) 4%,rgba(146,146,188,1) 33%,#CF0000 85%, rgba(22,55,77,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(27,55,77,1) 4%,rgba(146,146,188,1) 33%,#CF0000 85%, rgba(22,55,77,1) 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b374d', endColorstr='#9292bc',GradientType=0 ); /* IE6-9 */

    border: .2em solid;
    border-radius: .52em;
}

#player-container img{

    width: 11.5em;
    height: auto;
    border: 0;
    margin-left: 1em;
}

.song{
    background-color: inherit;
    max-width: initial;

    -webkit-box-shadow: 0 0 0 ;
    -moz-box-shadow: 0 0 0 ;
    box-shadow: 0 0 0 ;

    border: 0;
    padding-top: 3em;
    margin: 0 0 0.1em 0;
}


#player-song-1{

    font-size: 1.5em;
    overflow: hidden;
    color: white;
    text-shadow: 0.05em 0.05em 0.05em black;
}

#player-song-2{

    font-size: 1.5em;
    overflow: hidden;
    color: white;
    text-shadow: 0.05em 0.05em 0.05em black;
}

audio{

    position: absolute;
    left: 13.8em;
    bottom: 0;
    width: 600px;
}

.button-bar{

    width: 100%;

    padding-top: 0.6em;
}

.button-bar > button:hover{
    cursor: pointer;
}

.button-bar > button:focus{

    outline: none;
}

#like-button, #add-to-playlist-button{
    position: relative;
    bottom: 0.25em;

    background-color: #1B374C;
    color: white;
    font-size: 1.2em;
    font-family: 'Georgia', Serif;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.1em black;

    border: 0.1em solid black;
    -webkit-box-shadow: 0.08em 0.08em 0.2em  black;
    -moz-box-shadow: 0.08em 0.08em 0.2em  black;
    box-shadow: 0.08em 0.08em 0.2em  black;
}

#like-button{
    width: 6.0em;/*width: 3.8em;*/
    height: 2.3em;/*height: 1.5em;*/

    margin-right: 0.3em;
}

#add-to-playlist-button{
    width: 10em;
    height: 2.3em;/*height: 1.5em;*/
}

#views-number{

    color: white;
}

.button-bar div{
    float: right;

    display: flex;
    align-items: center;

    margin-left: 1em;
}

.button-bar div img{
    height: 1.5em;
    margin-left: 0.3em;
}

.button-bar div:nth-of-type(1) img{
    position:relative;
    bottom: 0.3em;
}

/* Comments container*/

.comments{

    min-height: 20em;

    background: rgb(146,146,188); /* Old browsers */
    background: -moz-linear-gradient(top,   #CF0000 4%,rgba(146,146,188,1) 60%,rgba(27,55,77,1) 94%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#CF0000),color-stop(60%, rgba(146,146,188,1)), color-stop(94%,rgba(27,55,77,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,   #CF0000 4%,rgba(146,146,188,1) 60%,rgba(27,55,77,1) 94%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,   #CF0000 4%,rgba(146,146,188,1) 60%,rgba(27,55,77,1) 94%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,   #CF0000 4%,rgba(146,146,188,1) 60%,rgba(27,55,77,1) 94%); /* IE10+ */
    background: linear-gradient(to bottom,  #CF0000 4%,rgba(146,146,188,1) 60%,rgba(27,55,77,1) 94%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9292bc', endColorstr='#1b374d',GradientType=0 ); /* IE6-9 */

}

.comments > div:first-child{

    width: 55em; /*47.3em*/
    margin: 0 auto;
}

#message{

    width: 880px; /*752px*/
    display:block;

    width: 100%;
    resize: none;

    -webkit-box-shadow: 0.15em 0.15em 1px;
    -moz-box-shadow: 0.15em 0.15em 1px;
    box-shadow: 0.15em 0.15em 1px;

    margin-top: 30px;

}

#message:focus{
    outline: none;
}

#submit-button{

    float: right;
    position: relative;
    bottom: 36px;
    right: -6px;

    width: 8em;
    height: 2.5em;

    font-family: 'Georgia', Serif;

    padding: 0.2em;
    border: 0.1em outset;

}

.comments{

    width: 100%;

    background-color: #B0BAC1;

    border: .2em solid;
    border-radius: .52em;
    margin-top: 3em;
}

#comment-area{

    width: 100%;

    margin: 0 auto;
    font-family: Roboto,arial,sans-serif;
}


.title{

    font-size: 1.1em;
    font-weight: bold;

    margin-right: 0.5em;
}

.date{

    font-size: 0.9em;
}

.small-text{

    font-size: 0.9em;
}

.comment{

    width: 55em; /*47em*/

    background-color: white;
    padding: 0.3em;
    border: 0.1em outset rgb(192,192,192);
    -webkit-box-shadow: 0.15em 0.15em 1px;
    -moz-box-shadow: 0.15em 0.15em 1px;
    box-shadow: 0.15em 0.15em 1px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;

}

.comment > p{

    margin-left: 2em;
}

.comment:last-of-type{

    margin-bottom: 4em;
}

/*Pop-up customizing*/

#pop-up > h1{
    color: white;
    text-shadow: 0.05em 0.05em 0.05em black;


    background: rgb(49,49,49); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(49,49,49,1) 1%, rgba(145,146,188,1) 36%, rgba(145,146,188,1) 67%, rgba(27,55,76,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(49,49,49,1)), color-stop(36%,rgba(145,146,188,1)), color-stop(67%,rgba(145,146,188,1)), color-stop(100%,rgba(27,55,76,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(49,49,49,1) 1%,rgba(145,146,188,1) 36%,rgba(145,146,188,1) 67%,rgba(27,55,76,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(49,49,49,1) 1%,rgba(145,146,188,1) 36%,rgba(145,146,188,1) 67%,rgba(27,55,76,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(49,49,49,1) 1%,rgba(145,146,188,1) 36%,rgba(145,146,188,1) 67%,rgba(27,55,76,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(49,49,49,1) 1%,rgba(145,146,188,1) 36%,rgba(145,146,188,1) 67%,rgba(27,55,76,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#1b374c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    padding: 0.5em;
    margin: 0;
}

#results{
    background: rgb(145,146,188); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(145,146,188,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 96%, rgba(145,146,188,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,146,188,1)), color-stop(2%,rgba(255,255,255,1)), color-stop(96%,rgba(255,255,255,1)), color-stop(100%,rgba(145,146,188,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(145,146,188,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 96%,rgba(145,146,188,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(145,146,188,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 96%,rgba(145,146,188,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(145,146,188,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 96%,rgba(145,146,188,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(145,146,188,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 96%,rgba(145,146,188,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9192bc', endColorstr='#9192bc',GradientType=0 ); /* IE6-9 */

    border-top: 0;
}

/* Media-queries */

@media (max-width: 1367px){

    #player-page-container{

        width: 50em;
        margin-left: auto;
        margin-right: auto;
    }

    #player-container{

        padding-bottom: 30px;

        border: .1em solid;
    }

    #player-container img{
        margin-left: 0px;
        width: 120px;
    }

    audio{
        width: 100%;
        left: 0;
        background: transparent;
    }

    #like-button{
        width: 3.8em;
        height: 1.5em;
    }

    #add-to-playlist-button{
        height: 1.5em;
    }

    .comments > div:first-child{

        width: 47.3em;
        margin: 0 auto;
    }

    #message{
        font-size: 12.8px;
        width: 601.6px;
        padding: 1.92px;

        margin-top:  12.8px;
    }

    #submit-button{

        bottom: 25px;
        right: 8px;
        width: initial;
        height: initial;
    }

    .comments{
        border: .1em solid;
    }

    .comment{
        width: 47em;
    }
}

