<div class="pt4em"></div>
<main>

    <nav id="music-categories">

      <ul>

        <li><a href="#">Trending</a></li>

        <li><a href="#">Most Viewed</a></li>

        <li><a href="#">Fresh</a></li>

      </ul>

    </nav>

</main>