<main>

      <nav id="music-categories">

        <ul>

          <li><a>Trending</a></li>

          <li><a>Most Viewed</a></li>

          <li><a>Fresh</a></li>

        </ul>

      </nav>

</main>