<section class='white-section'>
    <h1 class="search-results">Search results:</h1>

    <div class="songs-container">
        <% @results.each do |result| %>
            <% path = "http://localhost:3000/" + result[:path] %>
            <div class="song">
                <img src="http://localhost:3000/mp3.png" alt="Music icon" class='file-icon'>

                <div class="song-details">
                    <p class="song-title">
                        <%= link_to result[:title], :controller => 'songs', :action => 'show', :id => result.id %>
                    </p>

                    <p class="song-artist">
                        by <%= result[:artist] %>
                    </p>
                    
                    <p class="song-album">
                        Album: <%= result[:album] %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>
</section>



