<section class='white-section'>
    <h1 class="search-results">Search results:</h1>

    <div class="results songs-container">
        <% @results.each do |result| %>
            <% path = "http://localhost:3000/" + result[:path] %>
            <div class="song">
                <img src="http://localhost:3000/music-icon-purple.png" alt="Music icon">
                <div>
                    <% name = result[:artist] + '-' + result[:title] %>
                    <p>
                        <%= link_to name, :controller => 'songs', :action => 'show', :id => result.id, :class => "menu-item" %>
                    </p>
                    <p>
                        <%= result[:album] %>
                    </p>
                 </div>
            </div>
        <% end %>
    </div>
</section>



