<div class="pt4em"></div>

<main>

  <nav id="music-categories">

    <ul>

      <li><span id="playlist-link">My Songs</span></li>

    </ul>

  </nav>


  <div class="songs-container" id="trending">

    <% @my_playlists.each do |result| %>

        <div class="song">

          <img src="http://localhost:3000/music-icon-purple.png" alt="Music icon">

          <div>

            <% name = result[:title] %>
            <p>
              <%= link_to name, :controller => 'playlist', :action => 'show', :id => result.id, :class => "menu-item" %>
            </p>
            <p><%= result[:album] %> -> <%= link_to 'DELETE', :controller => 'songs', :action => 'delete', :id => result.id %></p>
            <!--<p></p>-->

          </div>

        </div>

    <% end %>

  </div>
  <%= button_to 'Create new playlist', :controller => 'playlist', :action => 'new' %>

</main>

<div class="pt4em"></div>
