<section class='white-section'>
    <h1>My Playlists</h1>

    <div class="playlist-container" id="trending">
        <% @my_playlists.each do |result| %>
            <div class="playlist">
                <img src="http://localhost:3000/playlist-icon.png" alt="Music icon" class="file-icon">

                <div class="playlist-details">
                    <p class="playlist-title">
                        <%= link_to result[:title], :controller => 'playlist', :action => 'show', :id => result.id %>
                    </p>

                    <p class="playlist-creation-date">
                        created on <%= result[:created_at].to_formatted_s(:long)%>
                    </p>
                </div>

                <%= link_to raw('<img src="/delete.ico" alt="del" class="delete-icon">'), :controller => 'playlist', :action => 'delete', :id => result.id %>
            </div>
        <% end %>
    </div>

    <%= button_to 'Create new playlist', {:controller => 'playlist', :action => 'new'} %>
</section>
