<div class="pt4em"></div>

<main>

  <nav id="music-categories">

    <ul>

      <li><span id="playlist-link">My Playlists</span></li>

    </ul>

  </nav>


  <div class="songs-container playlist-container" id="trending">

    <% @my_playlists.each do |result| %>

        <div class="song playlist">

          <img src="http://localhost:3000/playlist-icon.png" alt="Music icon">

          <div class="pl-nested-div">

            <% name = result[:title] %>
            <p class="playlist-title">
              <%= link_to name, :controller => 'playlist', :action => 'show', :id => result.id, :class => "menu-item" %>
            </p>
            <p class="playlist-creation-date"><%= "created on " + result[:created_at].to_formatted_s(:long)%></p>
            <%= link_to 'DELETE playlist', :controller => 'playlist', :action => 'delete', :id => result.id %>

          </div>

        </div>

    <% end %>

    <div class="clear"></div>

  </div>
  <%= button_to 'Create new playlist', {:controller => 'playlist', :action => 'new'},
                :style => "
            background: #1B374C;
            color: whi  te;
            font-size: 1.2em;
            font-family: 'Georgia', Serif;
            font-weight: bold;
            text-shadow: 0.1em 0.1em 0.1em black;"
  %>

</main>

<div class="pt4em"></div>
