<div class="mqpt10em"></div>
<section class='white-section'>
    <nav id="music-categories">
        <ul>
            <li><span id="playlist-link">My Songs</span></li>
        </ul>
    </nav>

    <div class="songs-container" id="trending">
        <% @my_music.each do |result| %>
            <% path = "http://localhost:3000/" + result[:path] %>
            <div class="song">
                <img src="http://localhost:3000/music-icon-purple.png" alt="Music icon">
                <div>
                    <% name = result[:artist] + '-' + result[:title] %>
                    <p>
                        <%= link_to name, :controller => 'songs', :action => 'show', :id => result.id, :class => "menu-item" %>
                    </p>
                    <p>
                        <%= result[:album] %>
                    </p>
                    <%= link_to raw('<a class="delete-icon-link">
                                    <img src="/delete.ico" alt="del">
                                </a>'), :controller => 'songs', :action => 'delete', :id => result.id %>
                </div>

                <script>
                    (function(){
                        var deleteIconLinks = document.getElementsByClassName('delete-icon-link');
                        for(var i=0; i<deleteIconLinks.length; ++i){
                            deleteIconLinks[i].setAttribute('href', deleteIconLinks[i].previousElementSibling.getAttribute('href'));
                        }
                    })();
                </script>
            </div>
        <% end %>
    </div>

    <%= button_to 'Upload new song', {:controller => 'songs', :action => 'new'}, :id => "upload-button"%>

    <div class="mqpt4em"></div>


</section>
