html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0px;

    font-size: 0.9em;
}

#container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    transition: transform 0.2s;
}

header,
#side-bar,
.menu,
footer {
    background: #1B374C;
}
	header,
	footer,
	header *,
	footer * {
	    color: #FFFFFF;
	}

/*Header*/
header {
    width: 100%;
    height: 4em;

    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;

    box-shadow: 0 0.1em 0.8em #000;
    opacity: 0.95;
}
	#menu-button {
	    display: none;
	}

	#logo {
		width: 10em;
	    height: 100%;
	    padding-left: 1.5em;
	    box-sizing: border-box;

	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
		#logo-content {
		    font: 2em 'Monoton', cursive;
		    word-spacing: 0.3em;
		    text-align: center;
		    text-transform: uppercase;
		    text-decoration: none;
		    color: #FFF;
		}

	#side-bar {
		width: calc(100% - 10em);
        display: flex;
    }

		#search-bar{
		    height: 4em;
		    padding:  0.7em 0 0.7em 1.5em;
		    box-sizing: border-box;

		    display: flex;
		}
			#search-bar * {
			    font-size: 1.2em;
			    color: initial;
			    background: #FFFFFF;
			}
				#search-bar input{
				    width: 27em;
				    height: 100%;
				    padding: 0 0.5em;
				    border: 0;
				    border-radius: 0 0.2em 0.2em 0;
				    box-sizing: border-box;

		    		order: 2;

				    font-weight: initial;
				    text-transform: none;
				    text-align: initial;
				}
					#search-bar input:focus{
					    outline: none;
					}

				#search-bar button{
					width: 4em;
				    height: 100%;
				    padding: 0 0.75em;
				    border: 0;
				    border-radius: 0.2em 0 0 0.2em;
				    box-sizing: border-box;
		    		
		    		order: 1;
				}
					#search-bar button img{
					    height: 100%;
					}



#search-bar {
    /*padding: 0.7em 1em;*/
}
#search-bar-input {
    /*width: 14.7em;*/
}

#search-bar-button{
    /*padding: 0.2em 0.3em;*/
}

	#menu-button,
	nav,
	nav * {
	    text-align: center;
	    text-decoration: none;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-family: sans-serif;
	}

	#super-nav{
		width: calc(100% - 39em);
	    display:flex;
	    justify-content: space-between;
	}
		#nav1 {
		    padding-left: 1.5em;
		    box-sizing: border-box;
		}

		#nav2 {
		    padding-right: 1.5em;
		    box-sizing: border-box;
		}

	nav ul,
	nav li {
	    margin: 0px;
	    padding: 0px;

	    display: flex;

	    list-style-type: none;
	}
		.drop-down {
		    flex-flow: column;

		    position: relative;
		}
			.submenu {
			    display: none;
			    flex-flow: column;

			    position: absolute;
			    top: 4em;
			    right: 0;
			    z-index: -1;

			    background: #495F70;
			    box-shadow: 0 0.1em 0.8em #000;
			}

	.menu a {
	    line-height: 1em;
	    padding: 1.5em 2.5em;

	    transition: background 0.2s;
	}
		.menu a:hover,
		.menu a:active {
		    background: #EF5030;
			cursor: pointer;	
		}

		.menu .drop-down a {
		    display: flex;
		    justify-content: center;
		}

		.submenu a{
		    width: 100%;
		}

	.drop-down-sign {
	    position: relative;
	    bottom: 0.12em;
	    left: 0.7em;

	    font-size: 1.5em;

	    transition: transform 0.2s;
	}


#pop-up {
    position: fixed;
    border: 5px solid #1B374C;
    background-color: white;
    width: 30em;
    height: 700px;
    bottom: 0;
    right: 0;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.58);
    display: none;
    z-index: 1;
}

#results {
    overflow-y: auto;
    position: relative;
    height: 90%;
    /*margin-bottom: 10px;*/
    border-top: 2px solid black;
}

#results > h2{

    float:left;
    margin-left: 0.7em;
}

#results button{
    float: right;
    margin-right: 0.7em;
    margin-top: 1.3em;
}

#results > hr{
    clear:both;
}

/*Content*/
#content {
    width: 100%;
    min-height: calc(100% - 7em);
    margin-top: 4em;

    position: relative;

    background: #F2EADC;
}
	.pt4em {
		padding-top: 4em;
	}

	#notification {
		background-color: #8D9BA6;
		color: #FFF;
		padding: 0.6em 0;
		text-align: center;
		/*box-shadow: 0 -0.1em 2em -1em #000 inset;*/
	}

	main {
	    width: 80em;
	    background-color: white;

	    padding-bottom: 2em;
	    border-radius: 0.5em;
	    margin: 0 auto;
	}
		#music-categories {
		    padding-top: 2em;
		    margin-left: 1em;
		}

		#music-categories ul li {
		    margin: 0 1em;
		}

		#music-categories span {
		    position: relative;
		    color: initial;
		    text-transform: none;

		}
			#music-categories span:hover {
			    cursor: pointer;
			}

			#music-categories span:before {
			    content: "";
			    position: absolute;
			    width: 100%;
			    height: 0.1em;
			    bottom: -0.2em;
			    left: 0;
			    background-color: #000;
			    visibility: hidden;

			    -webkit-transform: scaleX(0);
			    -moz-transform: scaleX(0);
			    -ms-transform: scaleX(0);
			    -o-transform: scaleX(0);
			    transform: scaleX(0);

			    -webkit-transition: all 0.2s ease-in-out;
			    -moz-transition: all 0.2s ease-in-out;
			    -ms-transition: all 0.2s ease-in-out;
			    -o-transition: all 0.2s ease-in-out;
			    transition: all 0.2s ease-in-out;
			}

			#music-categories span[underlined="true"]:before {
			    visibility: visible;
			    -webkit-transform: scaleX(1);
			    -moz-transform: scaleX(1);
			    -ms-transform: scaleX(1);
			    -o-transform: scaleX(1);
			    transform: scaleX(1);
			}

		.songs-container {
		    width: 75em;
		    margin: 7em auto 0 auto;
		}

		#most-viewed, #fresh {
		    display:none;
		}

		.song {
		    display: flex;
            position: relative;
		    align-items: center;

		    background-color: #D4DCE3;

		    border: 0.1em solid #1B374C;
		    border-top-right-radius: 1em;
		    border-bottom-right-radius: 1em;
		    margin : 3em 0;
		}

		.song img {
		    display:inline-block;
		    height: 7em;

		    border-right: 0.1em solid #1B374C;
		}

		.song div {
		    display: inline-block;
		}

		.song p:first-child {
		    font-size: 1.2em;
		    font-weight: bold;
		    color: #1B374C;

		    padding-left: 1.5em;
		    margin: 1em 0;
		}

		.song p:last-child{

		    font-size: 1.2em;
		    color: #1B374C;

		    padding-left: 1.5em;
		    margin: 1em 0;
		}

        .song a{

            text-decoration: none;
            color: initial;
        }

        .song p:last-child > a{

            position: absolute;
            top: 1.2em;
            right:5em;
            color: red;
        }

        .song p:last-child > img{

            position: absolute;
            top: 1.2em;
            right:3em;

            height: 1.2em;
            border: 0;
        }

	section {
		display: flex;
		flex-flow: column;
		align-items: center;
	}
		form p {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
			form label { 
			    margin-right: 1.5em; 
			} 
 
    		section form input {
			    width: 17em; 
			    padding: 0.6em; 
			    border: solid 0.08em #E5E5E5; 
			    outline: 0; 

			    font: normal 1em Verdana, Tahoma, sans-serif; 
			    background: #FFFFFF url('bg_form.png') left top repeat-x; 
			    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
			    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
			    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
			    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
			    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
			} 
				form input:hover, 
				form input:focus { 
				    border-color: #C9C9C9; 
				    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
				} 

				#file {
					width: 100%;
				}

				.button_to input,
				.submit input { 
					width: auto;
				    min-width: 7em; 
				    padding: 0.6em 1em; 
				    border: 0; 

				    background: #617798; 
				    font-size: 14px; 
				    color: #FFFFFF; 
				    -moz-border-radius: 5px; 
				    -webkit-border-radius: 5px; 
				}


/*Footer*/
footer {
    width: inherit;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    text-align: center;
}
	#footer-content a {
	    font-size: 1.2em;
	}

/*Mobile*/
@media (max-device-width: 1236px), (max-width: 1236px) {

    #menu-button {
        height: 4em;
        padding-left: 1.5em;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        float: left;
    }
	    #menu-button-content {
	        position: relative;
	        top: -0.1em;

	        font-size: 2em;
	        color: inherit;
	    }

    #side-bar {
        position: absolute;
        right: 100%;

        flex-flow: column;

	    box-shadow: -1.5em 0 2.5em -2em #000 inset;
    }
	    #side-bar a {
	        width: 100%;
	    }

	    #search-bar {
	        padding: 0.7em 1em;
	    }
		    #search-bar input {
		        width: 14.7em;
		    }

		    #search-bar button{
		        padding: 0.2em 0.3em;
		    }

		#super-nav {
			width: 100%;

			flex-flow: column;
		}
		    #nav1 {
		        padding-left: 0;
		        box-sizing: border-box;
		    }

		    #nav2 {
		        padding-right: 0;
		        box-sizing: border-box;
		    }

	    .menu {
	        padding-top: 1em;

	        flex-flow: column;

	        box-shadow: -1.5em 0 2.5em -2em #000 inset;
	    }
		    .menu .submenu {
		        position: relative;
		        top: 0;

		        background: #495F70;
		        box-shadow: -1.5em 1.7em 2.5em -2em #000 inset;
		    }
		    .drop-down:hover .submenu {
		        z-index: 0;
		    }

		    .menu a {
		    	padding: 1.5em 0;
		    }
}

@media (max-device-width: 720px) {

    body {
        font-size: 3em;
    }
}

@media (max-height: 720px), (max-device-height: 720px) {

    header {
        position: absolute;
    }
}

@viewport {
    width: width;
}

.clear{
    clear:both;
}

/*Other media queries*/

@media (max-width: 1367px){

    .songs-container{

        width: 60em;
    }

    #pop-up{

        height: 60%;
        width: 20em;
    }

    #pop-up > h1{

        font-size: 1.5em;
        text-align: center;
    }

    #results{

        font-size: 0.7em;
    }

    #results button{
        margin-top: 0.7em;
    }
}