<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>


<h1>Playlist#play_song</h1>
<p>Find me in app/views/playlist/play_song.html.erb</p>
/home/dan/Desktop/Acoustic Ladyland - Road Of Bones.mp3

file://localhost/home/dan/Desktop/Acoustic Ladyland - Road Of Bones.mp3

<audio controls>
  <source src="public/Bones.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>